{% extends 'base.html.twig' %}
{% form_theme inscriptionForm 'bootstrap_4_layout.html.twig' %}

{% block body %}

        {{form_start(inscriptionForm)}}
        {{form_widget(inscriptionForm)}}
        <button type="submit" class="btn btn-success">Connexion</button>
        {{form_end(inscriptionForm)}}

{% endblock %}