{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {% for informations in information %}

        {% if retard[loop.index-1].delaytime != '-1' %}
        <div class="jumbotron">
            <h1 class="display-3">{{informations.line}}</h1>
            <p class="lead">Le {{informations.transporttype}} sur la ligne {{informations.line}} aura un retard de {{retard[loop.index-1].delaytime}} minutes</p>
          </div>
        {% endif %}
        
    {% endfor %}

{% endblock %}
